.login_shortcut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
  background-color: #e4dfdb;
}

.login_shortcut_text {
  width: 50%;
}


.pranimi {
  display: flex;
  justify-content: space-evenly;
}

.login_shortcut h2 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-size: 34px;
  color: #363a4f;
  padding-bottom: 30px;
}

.login_shortcut p {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0;
  color: #46506e;
  font-weight: 200;
}

.login_shortcut img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}