body {
  background: url('images/pexels-rachel-claire-5490778.jpg') center/cover;
  
}
.kontakt {
  margin: 80px;
}

.contact-form {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 500px;
  text-align: center;
  margin: 0 auto;
}