body {
  background: url('images/pexels-rachel-claire-5490778.jpg') center/cover;
  
}
.kontakt {
  margin: 80px;
}

.contact-form {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}
button {
  background-color: #363a4f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #e4dfdb;
  color: #363a4f;
}
.kontakt_titull {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  font-family: "Bodoni Moda", serif;
  font-size: larger;
  margin: 60px 0 20px 0;
}