.advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 100px auto;
  padding: 24px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
}

.advertising h2 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 34px;
  color: #363a4f;
}

.advertising p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #46506e;
  font-weight: 200;
  padding-bottom: 40px;
}

.advertising img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: -190px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.buttoni {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 200px;
  padding: 10px;
  background-color: #e4dfdb;
  border: 1px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

.buttoni:hover {
  background-color: #cdc8ca;
  font-weight: bold;
}