/* Quote*/
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #363a4f;
}

/*Slider*/

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Advertising box*/

.advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 100px auto;
  padding: 24px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
}

.advertising h2 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 34px;
  color: #363a4f;
}

.advertising p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #46506e;
  font-weight: 200;
  padding-bottom: 40px;
}

.advertising img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: -190px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.buttoni {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 200px;
  padding: 10px;
  background-color: #e4dfdb;
  border: 1px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

.buttoni:hover {
  background-color: #cdc8ca;
  font-weight: bold;
}

/*Warming card*/

.maincontainer {
  position: relative;
  margin: 80px 20px;
  height: 120px;
  background: rgba(228, 223, 219, 0.3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 3s ease;
  background: #46506e;
}

.thecard:hover {
  transform: rotateX(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #e4dfdb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thefront h3 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 34px;
  color: #363a4f;
}

.thefront p {
  color: #46506e;
  font-family: "Montserrat", sans-serif;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fad85d;
  color: #333;
  transform: rotateX(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.theback h3 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 34px;
  color: #363a4f;
}

.theback p {
  color: #46506e;
  font-family: "Montserrat", sans-serif;
}

/*Paragrafi*/

.paragrafi {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
}

.paragrafi::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/paragrafback.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  opacity: 0.9;
  z-index: -1;
}

.paragrafi::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/*Review boxes*/

.review_space {
  padding: 50px 0 0 0;
}

.review_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 5px 0;
}

.review_space h2 {
  color: #363a4f;
  font-size: 34px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
}

.review {
  background-color: #e4dfdb;
  margin: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.review h4 {
  padding: 10px 0;
}

.review_boxes img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

/*Log in and register shortcut*/

.login_shortcut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
  background-color: #e4dfdb;
}

.login_shortcut_text {
  width: 50%;
}

.pranimi {
  display: flex;
  justify-content: space-evenly;
}

.login_shortcut h2 {
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-size: 34px;
  color: #363a4f;
  padding-bottom: 30px;
}

.login_shortcut p {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0;
  color: #46506e;
  font-weight: 200;
}

.login_shortcut img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.buttons {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 200px;
  padding: 10px;
  background-color: white;
  border: 1px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

.buttons:hover {
  background-color: #cdc8ca;
  font-weight: bold;
}
