* {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #cdc8ca;
}

.headeri {
  display: flex;
  font-family: "Unica One", sans-serif;
  font-size: 32px;
  color: #363a4f;
  font-weight: 900;
  align-items: center;
}

.headeri:hover {
  color: white;
  border-bottom: solid #fad85d;
}

.aromé p {
  margin-left: -10px;
  padding-top: 20px;
}
.aromé:hover {
  cursor: pointer;
}

ul {
  width: 30%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

ul a {
  text-decoration: none;
  color: #46506e;
}

ul a:hover {
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  border-bottom: solid #fad85d;
}


footer{
  background-color: #cdc8ca;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
  padding-top: 20px;
}
.f{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 90%;
  color: #46506e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.ff{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.ff img{
  width: 32px;
  height: 32px;
}
.footermain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.fundi{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 14px;
}


